/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----top.html.erb----*/
.top-heading {
  display: block;
  font-size: 30px;
  margin: 20px auto 0 16px;
}

.big {
  font-size: 17px;
}

.top-text {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}


/*----index.html.erb----*/
main {
  margin: 30px;
}

.main-heading {
  display: block;
  font-size: 30px;
}

.table-title {
  text-align: center;
}
.table-body {
  text-align: center;
}

.table-data {
  padding: 0 10px;
  text-align: center;
  font-size: 13px;
}

.create-book {
  margin-top: 20px;
}

.create-heading {
  font-size: 23px;
}

.create-title {
  margin-top: 15px;
  font-size: 13px;
}

/*----show.html.erb----*/
.show-block {
  display: flex;
}

.show-category {
  font-size: 13px;
  margin: 15px auto 15px 50px;
}

.show-title {
  font-size: 13px;
  margin-left: 50px;
}

.tab {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 13px;
}

/*----edit.html.erb----*/
body {
  margin: 30px;
}

.edit-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

.edit-title {
  font-size: 13px;
  margin-bottom: 10px;
}